<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>
    
    <header class="site-header" role="banner">
      <nav class="navbar">
        {% for page in site.pages %}
          {% if page.title and page.layout == "page" %}
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
      </header>

    <main class="page-content">
      {{ content }}
    </main>
    
    </body>
</html>